<ul class="tabs">
  <li class="tab">
    <%=link_to(image_tag("icon/home_plus.png") + "VeeJay", "#basic")%>
  </li>
  <li class="tab">
    <%=link_to(image_tag("facebook.gif", {:height => 16}) + "Facebook", "#facebook")%>
  </li>
  <li class="tab">
    <%=link_to(image_tag("openid.gif") + "OpenID", "#openid")%>
  </li>
</ul> 
