<h2>
  Now Playing
</h2>
<ul>
  <li>
    "<%=@video.title%>"
  </li>
  <li>
    <%=link_to(@artist.name, @artist.website)%>
  </li>
  <li>
    <% if @lyrics then %>
      <pre id="lyrics"><%=@lyrics%></pre>
    <% end %>
  </li>
  <li>
    last release
    "<%=@last_release.title%>"
    on
    <%=@last_release.released_on%>
  </li>
  <li>
    <% @artist.categories.each { |category| %>
      <%=category.name %>
    <% } %>
  </li>
</ul>
