/* vanilla */

a { outline: none; text-decoration: none; }
a:active { outline: none; text-decoration: underline; }
form,div,li,h1,h2,h3,h4,h5,h6,p,a { font-family: sans-serif; margin: 0; padding: 0; }
ul { list-style: none; margin: 0 0 0 0; padding: 0; }
li { margin: 0 0 0.75em 0; }
p, pre, ol li { font-size: 1.25em; margin: 0 0 0.5em 0; }
pre { padding: 1em; overflow: auto; }
h1 { font-size: 2.25em; }
h2 { font-size: 2.0em; margin: 0 0 0.5em 0; }
h3 { font-size: 1.75em; margin: 0 0 0em 0; }
h4 { font-size: 1.5em; }
img, iframe { border: 0; margin: 0; padding: 0; }
label { margin: 0 0 0.5em 0; clear: right; display: block; font-weight: bold; }
body { background-color: #efefef; font-size: 62.5%; width: 101em; margin: 0; padding: 0.5em; -webkit-text-size-adjust: none; }
input[type="text"], input[type="password"], textarea { border: 1px solid black; width: 99%; padding: 0.2em; }
#sidebar input[type="text"] { width: 72%; }
input[type="checkbox"] { margin: 0px 0 0px 0; padding: 0 0 0 0; border: 0px solid blue; vertical-align: middle; }
textarea.copypaste { width: 100%; }
input[type="submit"] { width: 22%; }
li input[type="submit"] { margin: 0 0 0 0; }

.flash { margin: 0em 0 1em 0; }
.bottom_flash { margin: 0.5em 0 0em 0; }
.success { background: url(/images/icon/tick.png) no-repeat 0.5em 1em; padding: 1em 1em 1em 2.5em; border: 0.25em solid green; background-color: #ccffcc; }
.notice { background: url(/images/icon/exclamation.png) no-repeat 0.5em 1em; padding: 1em 1em 1em 2.5em; border: 0.25em solid gold; background-color: yellow; }
#errorExplanation { margin: 1em 0 1em 0; }
.errorExplanation { border: 0.25em solid red; background: #ffcccc url(/images/icon/slash.png) no-repeat 0.5em 1em; padding: 0.5em 1em 1em 2.5em; }
.errorExplanation h2 { color: maroon; margin: 0; }
.errorExplanation ul li { list-style: square; margin: 0 0 0 2em; font-size: 1.25em; }
.fieldWithErrors input[type="text"], .fieldWithErrors input[type="password"] { background-color: yellow; }
.spinning { background: white url(/images/spinner.gif) no-repeat right 2px; }

.rounded { margin: 1.5em; padding: 0em; }
#logo { width: 10em; height: 10em; float: left; }
#header { margin: 0 0 1em 1em; padding: 0em; width: 88em; float: left; height: 10em; }
#header p { margin: 1em; }
#personal_header ul { float: right; margin: 0 0 0 0; }
#personal_header li { display: inline; }
#sidebar { margin: 1em; padding: 0em; width: 42em; float: left; }
#results_container { margin: 0em 0 0em 0; }
#results { margin: 1em 0 0em 0; }
#subscriptions { margin: 1em 0 1em 0; }
#content { margin: 1em; padding: 0em; width: 542px; float: left; }
#instructions { margin: 1em; }
#drop { min-height: 7.5em; border: 1px dashed black; padding: 0.5em 1em 0 1em; }
#player_container { width: 512px; height:322px; background-color: black; }
#player { width: 512px; height:322px; }
#footer { padding: 1em; clear: both; width: 96em; }
#footer p { text-align: right; }

ul.grid { margin: 0 1em 0 1em; }
ul.grid li { display: inline; }
ul.grid li a { padding: 2.1em; }
ul.grid li img { margin-top: 1.05em; margin-bottom: 1.05em; vertical-align: middle; }
ul.grid li.current_video a { background: url(/images/icon/arrow.png) no-repeat center left; }

ul.tabs { margin: 0 0 1.5em 0; }
ul.tabs li { display: inline; margin: 0 1em 0 0; padding: 0.62em 1em 2em 0.75em; }
ul.tabs li a { text-decoration: none; }
ul.tabs li img { padding: 0 0.4em 0 0; vertical-align: middle; }

table, tbody, tr, td { margin: 0; padding: 0.25em; border-collapse: collapse; }
table, td.puff { width: 100%; vertical-align: middle; }
td { vertical-align: top; }
#drop ul.panels textarea { width: 98%; }

.rating { position: relative; width: 150px; height: 25px; margin: 1em 0 1em 0; background: url(/images/star.gif) top left repeat-x; }

.rating li {
  padding: 0px;
  margin: 0px;
  /*\*/
  float: left;
  /* */
}
 
.rating li a {
  position: absolute;
  display: block;
  width: 30px;
  height: 25px;
  text-indent: -9000px;
  z-index: 20;
}
 
.rating li a:hover {
  left: 0px;
  background: url(/images/star.gif) left bottom;
  z-index: 2;
}
 
.rating a.one {
  left: 0px;
}
 
.rating a.one:hover {
  width: 30px;
}
 
.rating a.two {
  left: 30px;
}
 
.rating a.two:hover {
  width: 60px;
}
 
.rating a.three {
  left: 60px;
}
 
.rating a.three:hover {
  width: 90px;
}
 
.rating a.four {
  left: 90px;
}
 
.rating a.four:hover {
  width: 120px;
}
 
.rating a.five {
  left: 120px;
}
 
.rating a.five:hover {
  width: 150px;
}
 
.rating li.current_rating {
  position: absolute;
  display: block;
  height: 25px;
  background: url(/images/star.gif) left center;
  text-indent: -9000px;
  z-index: 1;
}


/*
ul.holder { margin: 0; overflow: hidden; height: auto !important; height: 1%; padding: 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; }
ul.holder li { float: left; list-style-type: none; margin: 0 0.25em; }
ul.holder li.bit-box, ul.holder li.bit-input input { }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: 150px; margin: 0; border: none; outline: 0; padding: 3px 0 2px; }
ul.holder li.bit-input input.smallinput { width: 20px; }
*/

/*
#add { border: 1px solid #999; width: 550px; margin: 50px; padding: 20px 30px 10px; }
form ol { margin: 0; padding: 0; }
form ol li.input-text { margin-bottom: 10px; list-style-type: none; border-bottom: 1px dotted #999; padding-bottom: 10px; }
form ol li.input-text label { cursor: pointer; display: block; margin-bottom: 1em; }
form ol li.input-text input { width: 500px; padding: 5px 5px 6px; border: 1px solid #999; }
form ul.holder { width: 500px; }
*/

#autocomplete-list ul.holder li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; }
/*
ul.holder li.bit-hover { background: #BBCEF1; }
*/
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('/images/close.gif'); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }
#autocomplete { display: none; position: absolute; width: 520px; background: #eee; }
#autocomplete .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px; }
#autocomplete ul { display: none; margin: 0 0 0 0; padding: 0; overflow: auto; }
#autocomplete ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; }
#autocomplete ul li em { font-weight: bold; font-style: normal; background: #ccc; }
#autocomplete ul li.auto-focus { background: #4173CC; color: #fff; }
#autocomplete ul li.auto-focus em { background: none; }
/*
ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
#add a { color: #666; }
#add-test { width: 100px; padding: 2px; }
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
*/

#basic, #facebook, #openid { float: left; width: 33%; }
#facebook { width: 25%; margin: 0 1em 0 3.5em; }
#basic img, #facebook img, #openid img { padding: 0 0.4em 0 0; vertical-align: middle; }
#openid_identifier { width: 60%; }

div.quote {
  background: url(/images/gray_quotes.png) no-repeat scroll -180px top;
  position:relative;
  padding: 0px 0 0 0px;
}

div.quoted {
  padding: 35px 60px 35px 80px;
  background: url(/images/gray_quotes.png) no-repeat scroll 420px bottom;
  position:relative;
}
