<ul>
  <li>
    <%=link_to(current_person.nickname, profile_url(current_person.nickname))%>
  </li>
  <li>
    <%=link_to("create", create_url)%>
  </li>
  <li>
    <%=link_to(:dashboard, dashboard_url)%>
  </li>
  <li>
    <%=link_to(:logout, logout_url, {:class => "logout_link"})%>
  </li>
</ul>
