<div id="player_container">
</div>
<span id="controls">
  <%=link_to(:pause, "#", {:id => :pause_button, :style => "display: none;"})%>
  <%=link_to(:play, "#", {:id => :play_button, :style => "display: none;"})%>
  &nbsp;
</span>
