<div id="uvp_fop_container" style="width:512px;height:322px;">
</div>
<span id="controls">
  <%=link_to(:pause, "#", {:id => :pause_button, :style => "display: none;"})%>
  <%=link_to(:play, "#", {:id => :play_button, :style => "display: none;"})%>
  &nbsp;
</span>
