<% content_for :tagline do %>
<% end %>
<% content_for :instructions do %>
<% end %>
<% content_for :sidebar do %>
<% end %>
<p>
  Lorem ipsum
</p>
<ul>
  <li>
    Drew Garcia
  </li>
  <li>
    Jon Bardin
  </li>
</ul>
