<% content_for :tagline do %>
  <%=link_to(:Centerology, root_url)%>
<% end %>
<p>
  Follow these instructions to begin your journey...
</p>
<ol>
  <li>
    Drag the &quot;<%=link_to(:center, @js)%>&quot; bookmarklet to the toolbar of your browser.
  </li>
  <li>
    When you have found an image you like, click the bookmarklet to activate the Centerology application.
  </li>
</ol>
<p>
  <%=link_to(:return, root_url)%> to the main feed.
</p>
