<% content_for :tagline do %>
  VeeJay.tv - What MTV used to be...
<% end %>
<% content_for :instructions do %>
  You can become a VeeJay too. Just <%=link_to(:register, register_url)%> to mix up your own sets!
<% end %>
<% content_for :sidebar do %>
  <h2>
    Recently Created Sets
  </h2>
<% end %>
<h2>
  Hottest Set This Week
</h2>
<p>
  something
</p>
