Hello <%=@person.nickname%>,

Please finish your registration by following this link:

<%=activate_url(@person.activation_code, :only_path => false)%>

You're moments away from creating some cool music video sets that you can share with friends!

- The VeeJay.tv Team
