Hello <%=@person.nickname%>,

<%=link_to("Tribute to the King Of Pop", "http://veejay.tv/jon/watch/tribute-to-the-king-of-pop")%>

You're moments away from creating some cool music video sets that you can share with friends!

- The VeeJay.tv Team
