<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=1010" />
    <title>VeeJay.tv</title>
    <%= stylesheet_link_tag "application" %>
    <%=javascript_include_tag(:defaults)%>
    <%=javascript_include_tag("swfobject")%>
    <%=javascript_include_tag("roundies")%>
    <% if (@person and @person.id) then %>
      <%=auto_discovery_link_tag(:rss, sets_url(@person))%>
    <% else %>
      <%=auto_discovery_link_tag(:rss, rss_url)%>
    <% end %>
  </head>
  <body>
    <div>
      <%=link_to(image_tag("/images/logo.png", {:id => :logo}), root_url)%>
    </div>
    <div id="header">
      <div id="personal_header" class="edge" style="display: none;">
        <ul>
          <li>
            <%=link_to(:login, login_url)%>
          </li>
          <li>
            or
          </li>
          <li>
            <%=link_to(:register, register_url)%>
          </li>
        </ul>
      </div>
      <h1>
        <%= yield :tagline %>
      </h1>
      <p>
        <%= yield :instructions %>
      </p>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="content">
      <%=render :partial => 'shared/flash' %>
      <%=@content_for_layout %>
    </div>
    <div id="footer">
      <p>
        <%=link_to(:faq, faq_url)%>
        <%=link_to(:about, about_url)%>
        &copy; 2008
      </p>
    </div>
    <!--
    <%= render :partial => "shared/uservoice" %>
    <%= render :partial => "shared/urchin" %>
    -->
  </body>
</html>
