<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="viewport" content="width=1010" />
    <title>VeeJay.tv</title>
    <%= stylesheet_link_tag "application" %>
    <%=javascript_include_tag(:defaults)%>
    <%=auto_discovery_link_tag(:rss, rss_feed_url(@feeder)) if @feeder%>
  </head>
  <body>
    <%=link_to(image_tag("/images/logo.png", {:id => :logo}), root_url)%>
    <div id="header">
      <% if current_person then %>
        <ul>
          <li>
            your
          </li>
          <li>
            <%=link_to(:feed, root_url(:nickname => current_person))%>
          </li>
          <li>
            and
          </li>
          <li>
            <%=link_to(:episodes, root_url)%>
          </li>
        </ul>
      <% else %>
        <ul>
          <li>
            <%=link_to(:login, login_url)%>
          </li>
          <li>
            or
          </li>
          <li>
            <%=link_to(:register, register_url)%>
          </li>
        </ul>
      <% end %>
      <h1>
        <%= yield :tagline %>
      </h1>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="content">
      <%=render :partial => 'shared/flash' %>
      <%=@content_for_layout %>
    </div>
    <div id="footer">
      <p>
        &copy; 2008
      </p>
    </div>
    <%= render :partial => "shared/swfobject" %>
    <%= render :partial => "shared/uservoice" %>
    <%= render :partial => "shared/urchin" %>
  </body>
</html>
