<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta name="viewport" content="width=1010" />
    <title>VeeJay.tv</title>
    <%= stylesheet_link_tag "vanilla" %>
    <%=javascript_include_tag(:defaults)%>
    <%=javascript_include_tag("swfobject")%>
    <%=javascript_include_tag("roundies")%>
    <%=auto_discovery_link_tag(:rss, rss_feed_url(@feeder)) if @feeder%>
  </head>
  <body>
    <div id="content">
      <div class="rounded">
        <%=render :partial => 'shared/flash' %>
        <%=@content_for_layout %>
      </div>
    </div>
    <%= render :partial => "shared/swfobject" %>
  </body>
</html>
